<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet Web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, consultez la page http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>D:\TFS\NewJojoscar\Setup\JojoscarMVC.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Jojoscar2003" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2003;Integrated Security=True;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Jojoscar2003_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2003;Integrated Security=True;Connect Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Jojoscar2004" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2004;Integrated Security=True;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Jojoscar2004_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2004;Integrated Security=True;Connect Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Jojoscar2005" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2005;Integrated Security=True;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Jojoscar2005_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2005;Integrated Security=True;Connect Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Jojoscar2006" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2006;Integrated Security=True;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Jojoscar2006_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2006;Integrated Security=True;Connect Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Jojoscar2007" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2007;Integrated Security=True;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Jojoscar2007_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2007;Integrated Security=True;Connect Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Jojoscar2008" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2008;Integrated Security=True;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Jojoscar2008_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2008;Integrated Security=True;Connect Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Jojoscar2009" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2009;Integrated Security=True;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Jojoscar2009_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2009;Integrated Security=True;Connect Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Jojoscar2010" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2010;Integrated Security=True;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Jojoscar2010_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2010;Integrated Security=True;Connect Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Jojoscar2011" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2011;Integrated Security=True;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Jojoscar2011_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2011;Integrated Security=True;Connect Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Jojoscar2012" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2012;Integrated Security=True;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Jojoscar2012_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2012;Integrated Security=True;Connect Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Jojoscar2013" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2013;Integrated Security=True;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Jojoscar2013_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2013;Integrated Security=True;Connect Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Jojoscar2014" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2014;Integrated Security=True;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Jojoscar2014_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2014;Integrated Security=True;Connect Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Jojoscar2015" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2015;Integrated Security=True;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Jojoscar2015_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2015;Integrated Security=True;Connect Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Jojoscar2016" Order="14" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2016;Integrated Security=True;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Jojoscar2016_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-E9OMQBE\SQLEXPRESS;Initial Catalog=Jojoscar2016;Integrated Security=True;Connect Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Jojoscar2003-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Jojoscar2004-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Jojoscar2005-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Jojoscar2006-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Jojoscar2007-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Jojoscar2008-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Jojoscar2009-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Jojoscar2010-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Jojoscar2011-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Jojoscar2012-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Jojoscar2013-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Jojoscar2014-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Jojoscar2015-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Jojoscar2016-Web.config Connection String" />
  </ItemGroup>
</Project>